{% extends "booklayout.html" %}

{% block title %}

            {{ title }}


            {% endblock %}


{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}  //CSRF token
    <fieldset class="form-group"> 
        <legend class="border-bottom mb-4"> Join today </legend>            
        <div class="form-group">
                {{ form.catagory.label(class="form-control-label") }}
                {{ form.catagory(class="form-control-label form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.details.label(class="form-control-label") }}
            {{ form.details(class="form-control-label form-control-lg", size=70) }}
        </div>
        <div class="form-group">
            {{ form.url.label(class="form-control-label") }}
            {{ form.url(class="form-control-label form-control-lg", size=70) }}
        </div>
    </fieldset>
    <div class="form-group"> {{ form.submit(class="btn btn-outline-info")}} </div>    

{% endblock content %}
