{% extends "layout.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
<form method="post" action="" enctype="multipart/form-data">
    <select name="category" >
    <option value="Apache">Apache</option>
    <option value="Cgi">Cgi</option>
    <option value="Communication">Communication</option>
    <option value="Epicentric">Epicentric</option>
    <option value="Excel">Excel</option>
    <option value="Food">Food</option>
    <option value="HTML">HTML</option>
    <option value="iLdap">iLdap</option>
    <option value="iProxy">iProxy</option>
    <option value="iWebserver">iWebserver</option>
    <option selected="selected" value="Java">Java</option>
    <option value="Linux">Linux</option>
    <option value="Microsoft">Microsoft</option>
    <option value="Mq">Mq</option>
    <option value="Msql">Msql</option>
    <option value="Music">Music</option>
    <option value="Python">Python</option>
    <option value="Websphere">Websphere</option>
    <option value="Rental">Rental</option>
    <option value="Sol10">Sol10</option>
    <option value="Legal">Legal</option>
    <option value="Efficiency">Efficiency</option>
    <option value="SysAdmin">SysAdmin</option>
    <option value="OpenLDAP">OpenLDAP</option>
    <option value="OpenSSH">OpenSSH</option>
    <option value="OpenSSL">OpenSSL</option>
    <option value="Oracle">Oracle</option>
    <option value="Others">Others</option>
    <option value="Perl">Perl</option>
    <option value="Personal">Personal</option>
    <option value="PHP">PHP</option>
    <option value="Solaris">Solaris</option>
    <option value="Sports">Sports</option>
    <option value="Taxes">Taxes</option>
    <option value="Veritas">Veritas</option>
    <option value="Virtualization">Virtualization</option>
    <option value="VeritasCluster">VeritasCluster</option>
    <option value="Weblogic">Weblogic</option>
    <option value="Word">Word</option>
    </select>&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="Go" value="Select" /> </form>

<table width=100% border=0 cellspacing=1 cellpadding=1 name=First>
    <tr><th>Category</th><th>Subcategory</th><th>Subject</th></tr> 
{% for f  in form.items %}
    <tr><th> {{ f.category}} </th><th> {{ f.subcategory}} </th>
        <!-- <th> <a href="/view/{{ f.id }}"> {{ f.subject }} </a> </th> -->
        <th> <a href="{{ url_for('know.pkv', id=f.id) }} "> {{ f.subject }} </a> </th>
    </tr> 
  {% endfor %}
</table>

<a href="id"> </a>


{% for page_num in form.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
    {% if page_num == form.page %}
        <em>  <a href=" {{ url_for('know.know_home', page=page_num ) }} " > {{ page_num}} </a> </em>
    {% else %}
    <a href=" {{ url_for('know.know_home', page=page_num ) }} " > {{ page_num}} </a>
    {% endif %}
{% else %}
        ...
{% endif %}

{% endfor %}

{% endblock content %}